:root {
  --primary: #000000;
  --primary-text: #ffffff;
  --secondary: #ff1dec;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

@font-face {
  font-family: "customfont";
  src: url("./assets/CodePro.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.image {
  width: 100%;
}

.flexbox-container {
  display: flex;
  flex-flow: row wrap;
  width: 85%;
}

.flexbox-item {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flexbox-item-1 {
  padding: 30px;
}

.typing-gm {
  width: 100%;
  animation: typing 2s steps(10), blink .5s step-end infinite alternate;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  font-size: 72px;
}

@media (max-width: 500px) {
  .typing-gm {
    font-size: 32px;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}