@font-face {
  font-family: "outfit";
  src: url("./fonts/Outfit.ttf");
}

@font-face {
  font-family: "judge";
  src: url("./fonts/Judge.ttf");
}

@font-face {
  font-family: "sfpro";
  src: url("./fonts/SF-Pro.ttf");
}

@font-face {
  font-family: "marvin";
  src: url("./fonts/Marvin W01 Regular.ttf");
}


html,
body {
  background-color: #0C0C0C;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-family: "outfit";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}