.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* End Rainbow Kit */

/* Start Custom Styling */

.headerflex {
  display: flex;
  width: 85%;
  margin: 50px 0;
}

.logo {
  display: flex;
  margin: 0 10px;
}

.connect {
  display: flex;
  margin: 0 0 0 auto;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .headerflex {
    flex-direction: column;
    width: 100%;
  }

  .logo {
    margin: 20px 10px;
  }
  
  .connect {
    display: flex;
    margin: 0;
  }
}

.faqContainer {
  width: 90%;
  margin-bottom: 40px;
}

.faqDiv {
  display: flex;
  flex-direction: column;
}

.faqContainer h1 {
  padding: 0 0 0 10px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-size: 96px;
  color: #ffcc00;
  font-family: "judge";
  font-weight: normal;
}

.faqContainer h2 {
  padding: 0 0 0 10px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  font-size: 20px;
  color: #eee;
  font-family: "outfit";
  font-weight: normal;
  font-weight: 500;
}

.faqTab {
  width: 50%;
}

.faqContainerQuestions {
  display: flex;
}

.faqContainerColumn {
  margin: 10px;
  width: 50%;
}

.faqHeader {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  text-transform: none;
  margin: 0 0 10px 0;
  font-size: 24px;
  margin: 0;
  padding: 20px;
  background-color: #1e1e1e;
  color: #eee;
  font-family: "outfit";
  font-weight: normal;
}

.faqBody {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-transform: none;
  margin: 0 0 10px 0;
  font-size: 18px;
  margin: 0;
  padding: 20px;
  background-color: #171717;
  color: #979797;
  font-family: "outfit";
  font-weight: normal;
  height: 100%;
}

.passimg {
  border-radius: 10px;
}

.mintcontainer {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  max-width: 600px;
}

.mintcontainer div {
  display: flex;
}

.mintcontainer .pass {
  display: flex;
  width: 100%;
  font-size: 16px;
  /* border: 2px solid red; */
}

.mintcontainer .mint {
  padding: 50px 0;
  flex-direction: column;
  font-size: 15px;
  /* border: 2px solid red; */
  width: 100%;
}

@media (max-width: 1150px) {

  .mintcontainer .pass {
    /* width: 50%; */
    max-width: 550px;
  }

  .passimg {
    width: 550px;
  }
}

@media (max-width: 1000px) {
  .mintcontainer {
    max-width: 540px;
  }

  .mintcontainer .pass {
    width: 100%;
  }
  
  .mintcontainer .mint {
    width: 100%;
  }

  .faqContainerQuestions {
    flex-direction: column;
  }

  .faqContainerColumn {
    width: 100%;
  }
}

@media (max-width: 630px) {

  .mintcontainer {
    width: 100%;
  }

  .mintcontainer .pass {
    width: 100%;
    font-size: 14px;
  }

  .faqContainer {
    width: 100%;
  }

  .faqContainer h1 {
    margin: 0 0 10px 0;
    font-size: 60px;
  }
  
  .faqContainer h2 {
    padding: 0 0 0 10px;
    font-size: 17px;
  }

  .faqContainer .faqHeader {
    font-size: 22px;
  }

  .faqContainer .faqBody {
    font-size: 16px;
  }
}

.mintcontainer .salestatus {
  display: flex;
  position: absolute;
  margin: 30px;
}

.mintcontainer .live {
  color: #33cc33;
  margin: 0 10px;
}

.mintcontainer .mint div { 
  text-align: center;
  overflow: wrap;
  margin: 0 auto;
}

.mintButton {
  background-color: #ffcc00;
  border-radius: 13px;
  color: black;
  font-family: outfit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 60px;
  margin: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Reservations Title */

.reservationsTitleContainer {
  width: 90%;
}

.reservationsTitle {
  padding: 0 0 0 10px;
  text-transform: uppercase;
  margin: 0 auto 10px 0;
  font-size: 96px;
  color: #ffcc00;
  font-family: "judge";
  font-weight: normal;
}

/* Reservations Container */

.reservationsContainer {
  overflow: hidden;
  display: flex;
  background-color: #1a1a1a;
  width: 90%;
  height: 80px;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 60px;
}

.reservation,
.reservationBorder {
  /* border: 2px solid red; */
  display: flex;
  text-transform: uppercase;
  width: 25%;
  height: 65%;
  align-items: center;
  justify-content: center;
  overflow-wrap: unset;
  overflow: hidden;
}

.reservationBorder {
  border-right: 1px solid #afafaf;
}

@media (max-width: 1050px) {
  .reservationsContainer {
    height: 350px;
    width: 90%;
    flex-direction: column;
  }

  .reservation,
  .reservationBorder {
    width: 75%;
  }

  .reservationBorder {
    border-right: none;
    border-bottom: 1px solid #afafaf;
  }
}

.reservationName {
  margin: 0 10px 0 10px;
  max-width: 180px;
  overflow-wrap:initial;
}

.reservePfp {
  display: flex;
  border: 1px solid #444444 ;
  border-radius: 100%;
}

/* Round Button */

.roundButton {
  border-radius: 100%;
  border: none;
  background-color: #383838;
  font-size: 38px;
  font-family: "outfit";
  color: black;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roundButton:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* Loading Screen */

.loading {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #101010;
  z-index: 100;
  justify-content: center;
  align-items: center;
}