.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #444444;
  justify-content: center;
  align-items: center;
  width: 89%;
  margin: auto;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* End Rainbow Kit */

/* Start Custom Styling */

.headerflex {
  display: flex;
  width: 85%;
  margin: 50px 0;
}

.logo {
  display: flex;
  margin: 0 10px;
}

.connect {
  display: flex;
  margin: 0 0 0 auto;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 900px) {
  .headerflex {
    flex-direction: column;
    width: 100%;
  }

  .logo {
    margin: 20px auto;
  }
  
  .connect {
    display: flex;
    margin: 0 auto;
  }
}

.faqContainer {
  width: 90%;
  margin: 70px 10px 40px;
}

.faqDiv {
  display: flex;
  flex-direction: column;
}

.faqContainer h1 {
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 42px;
  color: #ffcc00;
  font-family: "outfit";
  font-weight: 700;
}

.faqTab {
  width: 50%;
}

.faqContainerQuestions {
  display: flex;
}

.faqContainerColumn {
  width: 49%;
  &:last-of-type{
    margin: 0 0 0 auto;
  }
  .faqQuestionCorner{
    margin: 0 0 10px;
    cursor: pointer;
    transition: padding 0.6s ease;
    &#faqQuestionActive{
      padding-bottom: 200px;
      .faqHeader{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        p span:last-of-type svg{
          transform: rotate(0);
        }
        & .faqBody{
          opacity: 1;
          top: 100%;
        }
      }
    }
  }
  &:last-of-type .faqQuestionCorner:last-of-type{
    transition: padding .8s ease;
  }
}

.faqHeader{
  border-radius: 15px;
  text-transform: none;
  margin: 0 0 10px 0;
  font-size: 25px;
  margin: 0;
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #fff;
  font-family: "outfit";
  font-weight: 300;
  position: relative;
  z-index: 1;
  p{
    display: flex;
    justify-content: space-between;
    span:last-of-type svg{
      transform: rotate(180deg);
      transition: transform .6s ease;
    }
  }
}

.faqBody{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-transform: none;
  margin: 0 0 10px 0;
  font-size: 18px;
  margin: 0;
  padding: 20px;
  background-color: #171717;
  color: #979797;
  font-family: "outfit";
  height: max-content;
  width: 100%;
  top: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: all 0.6s ease;
  font-family: "outfit";
  font-weight: 400;
}

.passimg {
  border-radius: 10px;
}


.mintcontainer {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  width: 100%;
  max-width: 1400px;
}

.mintcontainer .pass {
  display: flex;
  width: 100%;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.mintcontainer .mint {
  margin: auto;
  font-family: "outfit";
  font-weight: 400;
  .reservationHolder{
    .reservationHolderTexts{
      h2{
        color: #ffcc00;
        font-family: "marvin";
        font-weight: normal;
        font-size: 42px;
        line-height: 1;
        letter-spacing: 2px;
        margin: 0;
      }
      p{
        font-size: 20px;
        text-align: center;
        color: #fff;
        padding: 0 10%;
      }
    }
    .reservationPhasesHolder{
      &#phase1{
        .reservationPhases{
          .reservationPhaseBox{
            &:first-of-type{
              background: #1e1e1e;
              .reservationHeader{
                span{
                  &.reservationPhase{
                    color: #ffcc00;
                  }
                  &.reservationActive{
                    background: #33cc33;
                  }
                }
              }
              .reservationDesc{
                color: #fff;
              }
              .reservationEnd{
                color: #33cc33;
              }
            }
          }
        }
      }
      &#phase2{
        .reservationPhases{
          .reservationPhaseBox{
            &:nth-of-type(1){
              .reservationEnd{
                color: #383838;
              }
            }
            &:nth-of-type(2){
              background: #1e1e1e;
              .reservationHeader{
                span{
                  &.reservationPhase{
                    color: #ffcc00;
                  }
                  &.reservationActive{
                    background: #33cc33;
                  }
                }
              }
              .reservationDesc{
                color: #fff;
              }
              .reservationEnd{
                color: #33cc33;
              }
            }
          }
        }
      }
      &#phase3{
        .reservationPhases{
          .reservationPhaseBox{
            &:nth-of-type(1), &:nth-of-type(2){
              .reservationEnd{
                color: #1e1e1e;
              }
            }
            &:nth-of-type(3){
              background: #1e1e1e;
              .reservationHeader{
                span{
                  &.reservationPhase{
                    color: #ffcc00;
                  }
                  &.reservationActive{
                    background: #33cc33;
                  }
                }
              }
              .reservationDesc{
                color: #fff;
              }
              .reservationEnd{
                color: #33cc33;
              }
            }
          }
        }
      }
      .reservationPhases{
        margin: 30px 0 0;
        .reservationPhaseBox{
          .cornerLeft, .cornerRight{
            display: none;
          }
          position: relative;
          z-index: 1;
          padding: 20px;
          border-radius: 20px;
          background: rgba(30, 30, 30, 0.2);
          margin: 0 auto 10px;
          text-align: center;
          color: #383838;
          transition: background .35s ease;
          .reservationHeader{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            span{
              &.reservationPhase{
                font-size: 22px;
                font-family: "outfit";
                font-weight: 1000;
                margin: 0 15px 0 0;
                transition: color .35s ease;
              }
              &.reservationActive{
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #383838;
                transition: background .35s ease;
              }
            }
          }
          .reservationDesc{
            font-size: 16px;
            margin: 6px 0;
            transition: color .35s ease;
          }
          .reservationEnd, .reservationEnded{
            font-size: 16px;
            margin: 0;
            transition: color .35s ease;
            #phase1End, #phase2End, #phase3End{
              user-select: none;
            }
          }
        }
      }
      .reservationReserveBox{
        background: #1e1e1e;
        border-radius: 20px;
        padding: 20px;
        p{
          font-size: 18px;
          font-family: "outfit";
          margin: 0;
          color: #fff;
          span#reservedPrice{
            font-family: "outfit";
            color: #ffcc00;
          }
        }
        button{
          width: 100%;
          padding: 14px 0;
          margin: 10px 0 0;
        }
      }
    }
  }
}

@media (min-width: 520px) {
  .mintcontainer .mint{
    padding: 0 22px;
    .reservationHolder{
      .reservationPhasesHolder{
        &#phase1{
          .reservationReserveBox{
            border-top-left-radius: 0;
          }
          .reservationPhases{
            .reservationPhaseBox:first-of-type{
              .cornerLeft{
                display: block;
              }
            }
          }
        }
        &#phase2{
          .reservationPhases{
            .reservationPhaseBox:nth-of-type(2){
              .cornerLeft, .cornerRight{
                display: block;
              }
            }
          }
        }
        &#phase3{
          .reservationReserveBox{
            border-top-right-radius: 0; 
          }
          .reservationPhases{
            .reservationPhaseBox:nth-of-type(3){
              .cornerRight{
                display: block;
              }
            }
          }
        }
        .reservationPhases{
          display: flex;
          justify-content: space-between;
          .reservationPhaseBox{
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background: transparent;
            text-align: left;
            margin: 0;
            width: 33%;
            .reservationHeader{
              justify-content: flex-start;
            }
            .cornerLeft{
              position: absolute;
              bottom: 0;
              left: 100%;
              width: 20px;
              height: 20px;
              background: #1e1e1e;
              .cornerLeftInner{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 20px;
                height: 20px;
                border-bottom-left-radius: 100%;
                background: #111111;
              }
            }
            .cornerRight{
              position: absolute;
              bottom: 0;
              right: 100%;
              width: 20px;
              height: 20px;
              background: #1e1e1e;
              .cornerRightInner{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 20px;
                height: 20px;
                border-bottom-right-radius: 100%;
                background: #111111;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .mintcontainer{
    margin: 0;
    .mint{
      .reservationHolder{
        .reservationHolderTexts{
          p{
            font-size: 20px;
            padding: 0 10%;
          }
          h2{
            font-size: 36px;
          }
        }
      }
    }
  }
}

@media (min-width: 1250px) {
  .mintcontainer{
    flex-direction: row;
    .pass{
      margin: 0 auto;
      .passimg{
        height: auto !important;
        max-width: auto !important;
        max-height: auto !important;
        min-height: auto !important;
      }
    }
    .mint{
      .reservationHolder{
        .reservationPhasesHolder{
          .reservationPhases{
            .reservationPhaseBox{
              flex: initial;
              width: 170px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 901px){
  .mintcontainer{
    justify-content: center;
    .mint{
      max-width: 600px;
    }
  }
}

@media (min-width: 1060px){
  .mintcontainer{
    width: 85%;
    .mint{
      box-sizing: border-box;
      margin: auto;
    }
  }
}

@media (max-width: 1000px) {
  .mintcontainer .mint {
    width: 100%;
  }

  .faqContainerQuestions {
    flex-direction: column;
  }

  .faqContainerColumn {
    width: 100%;
  }
}

@media (max-width: 630px) {
  .faqContainer {
    width: 100%;
  }

  .faqContainer h1 {
    margin: 0 0 20px 0;
    font-size: 42px;
  }
  
  .faqContainer h2 {
    font-size: 17px;
  }

  .faqContainer .faqHeader {
    font-size: 18px;
  }

  .faqContainer .faqBody {
    font-size: 16px;
  }
}

.mintcontainer .salestatus {
  display: flex;
  position: absolute;
  margin: 40px 0;
  width: 100%;
  div.left{
    width: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
  }
}

.mintcontainer .live {
  color: #33cc33;
}

.mintcontainer .mint div { 
  text-align: center;
  overflow: wrap;
  margin: 0 auto;
}

.mintButton {
  background-color: #ffcc00;
  border-radius: 13px;
  color: black;
  font-family: "outfit";
  font-weight: 1000;
  font-size: 28px;
  padding: 14px 60px;
  margin: 0 auto;
}

.mintButton:hover {
  background-color: #ffcc00dd;
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Reservations Title */

.reservationsTitleContainer {
  width: 90%;
  margin: 100px 0 30px;
  display: flex;
}

.reservationsTitle {
  margin: 0 auto;
  color: #ffcc00;
  font-family: "outfit";
  font-weight: 700;
  text-align: center;
  font-size: 42px;
}

/* Reservations Container */


.reservationsTitleContainer {
  width: 90%;
  margin: 100px 0 30px;
  display: flex;
}

.reservationsTitle {
  margin: 0 auto;
  color: #ffcc00;
  font-family: "outfit";
  font-weight: 700;
  text-align: center;
  font-size: 42px;
}

/* Reservations Container */

@keyframes scrollLeft{
  to{
    margin-left: -100%;
  }
}

.reservationsContainerHolder{
  width: 90%;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.reservationsContainer {
  overflow: hidden;
  display: flex;
  background-color: #1a1a1a;
  width: 200%;
  height: 80px;
  border-radius: 15px;
  align-items: center;
  animation-name: scrollLeft;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}

@media (max-width: 800px) {
  .reservationsContainerHolder{
    width: 100%;
  }
}

@media (max-width: 715px) {
  .reservationsTitle {
    font-size: 32px;
  }
  
  .faqContainer h1 {
    font-size: 32px;
  }

  .faqContainer {
    margin: 0px 10px 40px;
  }
  
  .mintcontainer{
    margin: 0;
    .mint{
      .reservationHolder{
        .reservationHolderTexts{
          p{
            font-size: 16px;
          }
          h2{
            font-size: 32px;
          }
        }
      }
    }
  }
}

.reservationBorder {
  display: flex;
  width: 100%;
  height: 65%;
  align-items: center;
  justify-content: center;
  overflow-wrap: unset;
  overflow: hidden;
  border-right: 2px solid #979797;
}

.reservationName {
  font-size: 16px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 260px;
  overflow-wrap: initial;
}

/* Tablet Reservations Display */
@media (max-width: 1000px) {
  .reservationBorder {
    width: 50%;
  }

  .reservationsContainer {
    width: 400%;
  }

  @keyframes scrollLeft{
    to{
      margin-left: -200%;
    }
  }
  
  .reservationName {
    font-size: 14px;
  }
}

/* Mobile Reservations Display */
@media (max-width: 600px) {
  .reservationBorder {
    width: 100%;
  }

  .reservationsContainer {
    width: 800%;
  }

  @keyframes scrollLeft{
    to{
      margin-left: -400%;
    }
  }
  
  .reservationName {
    font-size: 14px;
  }
}

// @media (max-width: 1050px) {
//   .reservationsContainer {
//     height: 350px;
//     width: 90%;
//     flex-direction: column;
//   }

//   .reservation,
//   .reservationBorder {
//     width: 75%;
//   }

//   .reservationBorder {
//     border-right: none;
//     border-bottom: 1px solid #afafaf;
//   }
// }

.reservePfp {
  display: flex;
  margin-left: 10px;
  border-radius: 100%;
  overflow: hidden;
}

/* Round Button */

.roundButton {
  border-radius: 100%;
  border: none;
  background-color: #383838;
  font-size: 38px;
  font-family: "outfit";
  color: black;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roundButton:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* Loading Screen */

.loading {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #111111;
  z-index: 100;
  justify-content: center;
  align-items: center;
}