.container {
  padding: 0 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* End Rainbow Kit */

/* Start Custom Styling */

.headerflex {
  display: flex;
  width: 85%;
  margin: 50px 0;
}

.logo {
  display: flex;
  margin: 0 10px;
}

.connect {
  display: flex;
  margin: 0 0 0 auto;
}

@media (max-width: 900px) {
  .headerflex {
    flex-direction: column;
    width: 100%;
  }

  .logo {
    margin: 20px 10px;
  }
  
  .connect {
    display: flex;
    margin: 0;
  }
}


.faqContainer {
  width: 90%;
  margin-bottom: 40px;
}

.faqDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.faqContainer h1 {
  padding: 0 0 0 10px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-size: 96px;
  color: #ffcc00;
  font-family: "judge";
  font-weight: normal;
}

.faqContainer h2 {
  padding: 0 0 0 10px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  font-size: 20px;
  color: #eee;
  font-family: "outfit";
  font-weight: normal;
  font-weight: 500;
}

.faqTab {
  width: 50%;
}

.faqContainerQuestions {
  display: flex;
}

.faqContainerColumn {
  padding: 10px;
  width: 50%;
}

.faqContainerColumn h1 {
  text-transform: none;
  margin: 0 0 10px 0;
  font-size: 24px;
  margin: 0;
  padding: 20px;
  border-radius: 3px;
  background-color: #1e1e1e;
  color: #eee;
  font-family: "outfit";
  font-weight: normal;
}

.faqContainerColumn div {
  text-transform: none;
  margin: 0 0 10px 0;
  font-size: 18px;
  margin: 0;
  padding: 20px;
  background-color: #171717;
  color: #979797;
  font-family: "outfit";
  font-weight: normal;
}

.passimg {
  border-radius: 10px;
}

.mintcontainer {
  display: flex;
  flex-direction: column;
  font-weight: 100;
  max-width: 600px;
}

.mintcontainer div {
  display: flex;
}

.mintcontainer .pass {
  display: flex;
  width: 100%;
  font-size: 16px;
  /* border: 2px solid red; */
}

.mintcontainer .mint {
  padding: 50px 0;
  flex-direction: column;
  font-size: 15px;
  /* border: 2px solid red; */
  width: 100%;
}

@media (max-width: 1150px) {

  .mintcontainer .pass {
    /* width: 50%; */
    max-width: 550px;
  }
  
  .mintcontainer .mint {
    /* width: 50%; */
  }
}

@media (max-width: 1000px) {
  .mintcontainer {
    max-width: 540px;
  }

  .mintcontainer .pass {
    width: 100%;
  }
  
  .mintcontainer .mint {
    width: 100%;
  }

  .faqContainerQuestions {
    flex-direction: column;
  }

  .faqContainerColumn {
    width: 100%;
  }
}

@media (max-width: 630px) {

  .mintcontainer {
    width: 100%;
  }

  .mintcontainer .pass {
    width: 100%;
    font-size: 14px;
  }
}

.mintcontainer .salestatus {
  display: flex;
  position: absolute;
  margin: 30px;
}

.mintcontainer .live {
  color: #33cc33;
  margin: 0 10px;
}

.mintcontainer .mint div { 
  text-align: center;
  overflow: wrap;
  margin: 0 auto;
}

.mintButton {
  background-color: #ffcc00;
  border-radius: 13px;
  color: black;
  font-family: outfit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 60px;
  margin: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Round Button */

.roundButton {
  border-radius: 100%;
  border: none;
  background-color: #383838;
  font-size: 38px;
  font-family: "outfit";
  color: black;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roundButton:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}